@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Spacingxxs: 2px;
  --Spacingxs: 3px;
  --Spacings: 6px;
  --Spacingsm: 10px;
  --Spacingm: 14px;
  --Spacingml: 20px;
  --Spacingl: 28px;
  --Primary_Primary100: #e1e5f3;
  --Primary_Primary400: #8597cd;
  --Neutrals-Neutrals500: #898384;
  --Primary-Primary700: #3d5395;
  --Primary-Primary900: #243158;
  --Primary-Primary1000: #172039;
  --Neutrals-Neutrals600: #726c6c;
  --Base-Base_White: #fafafa;
  --Base-Base_Black: #0a0a0b;
  --Secondary-Secondary: #ce4f0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

/* nave */
.header {
  display: grid;
  grid-template-columns: 0.8fr 1.5fr 1fr;
  background-color: #172039;
}
.header .links div:hover {
  background-color: #243158;
}
.other-links span:hover {
  background-color: #243158;
}

.header .logo {
  margin: 24px 0 24px 64px;
  cursor: pointer;
}

.header .logo {
  display: flex;
  margin: 24px 0 24px 44px;
}

.header .logo img:nth-child(1) {
  padding-right: 20px;
  display: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.links a {
  font-size: 18px;
  color: #fafafa;
  font-weight: 600;
  text-align: center;
  line-height: 21.6px;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.links a.sale {
  color: #ce4f0d;
}

.links .active {
  background-color: #243158;
}

.links div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rest-nav {
  display: flex;
  gap: 30px;
  align-items: center;
  cursor: pointer;
}

.search-bar {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 223px;
  height: 45px;
  border-radius: var(--Spacingxxs);
  border: 2px solid #e1e5f3;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  padding: 10px;
  color: var(--Primary_Primary400);
}

.search-btn {
  height: 45px;
  border: 2px solid #e1e5f3;
  border-left: none;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
  background-color: #fff;
}

.other-links {
  display: flex;
  gap: 10px;
  margin-right: 30px;
}

.other-links .search-icon {
  display: none;
}

.other-links span {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 100%;
}

/* Container */
.container {
  padding: 20px 50px 0 50px;
  color: var(--Base-Base_Black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-div {
  padding: 50px 50px 0 50px;
  color: var(--Base-Base_Black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-div h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  text-align: center;
}
.img-msg {
  display: flex;
  justify-content: space-around;
}

.main-div img {
  width: 474px;
  height: 474px;
}

.summary-div {
  width: 540px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary-div .email-msg {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.summary {
  width: 500px;
  height: 246px;
  padding: var(--Spacingml) var(--Spacingsm) var(--Spacingml) var(--Spacingsm);
  gap: 40px;
  border-radius: var(--Spacingxs);
  border: 1px solid var(--Primary_Primary100);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}

.summary-list-div {
  width: 480px;
  height: 206px;
  padding: 0px 23px 0px 23px;
  gap: 24px;
}
.summary h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: -0.03em;
  width: 100%;
  padding: 0 20px;
}

.summary .summary-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 434px;
  height: 144px;
  justify-content: space-between;
}

.summary .summary-list span {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
}

.summary .summary-list div {
  display: flex;
  justify-content: space-between;
}

.summary-div button {
  height: 53px;
  padding: 13px 126px 13px 126px;
  gap: 10px;
  border-radius: 2px;
  border: 2px solid var(--Base-Base_Black);
  width: 500px;
  border-radius: 2px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: var(--Base-Base_Black);
  transition: 0.5s;
  cursor: pointer;
}

.summary-div button:hover {
  color: var(--Base-Base_White);
  background-color: var(--Primary-Primary900);
  box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  padding-bottom: 40px;
  display: flex;
  gap: 24px;
}

h2 span {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: var(--Neutrals-Neutrals500);
  cursor: pointer;
  transition: 0.5s;
}
h2 span:hover {
  color: #0a0a0b;
}

h2 span.active {
  color: var(--Base-Base_Black);
}

.chatbot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--Secondary-Secondary);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: var(--Base-Base_White);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px auto;
  transition: 0.5s;
}

.chatbot:hover {
  width: 60px;
  height: 60px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--Primary-Primary900);
  /* position: fixed;
  bottom: 0;
  width: 100%; */
}

.policy-footer {
  background-color: var(--Primary-Primary1000);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.policy-footer span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #fff;
}

.policy span {
  padding-left: 10px;
}

.payment {
  margin-top: 30px;
  width: 35%;
  margin: 30px auto 0 auto;
}
.payment .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
.payment .title .horizontal-line {
  width: 90%;
  height: 1px;
  border: 1px solid var(--Primary-Primary1000);
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.payment .title span {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  color: #fff;
  white-space: nowrap;
  margin: 0 10px;
}

.payment-options {
  display: flex;
  justify-content: space-between;
}

.payment-icons img {
  width: 50px;
  height: 32px;
}

/* MEDIA QUERIES */
/* Mobile */
@media only screen and (max-width: 600px) {
  /* navbar */
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header .links {
    display: none;
  }
  .search-bar {
    display: none;
  }
  .header .logo img:nth-child(1) {
    display: block;
  }

  .header .logo {
    margin: 24px 0 24px 24px;
  }

  .other-links {
    margin-right: 24px;
  }

  .other-links .search-icon {
    display: block;
    margin-top: 10px;
  }

  .homePage {
    width: 84.5px;
  }

  .container {
    padding: 20px 20px 0 20px;
    justify-content: center;
    align-items: center;
  }

  h2 span {
    font-size: 16px;
  }

  .img-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-div {
    padding: 50px 20px 40px 20px;
  }

  .main-div h1 {
    font-size: 24px;
  }

  .confirm-img-div {
    width: 100%;
  }

  .main-div img {
    width: 360px;
    height: 360px;
    margin: 0 auto;
  }

  .summary-div {
    width: 360px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .summary {
    padding: 0;
    width: 360px;
  }

  .summary-list-div {
    width: 360px;
    height: 230px;
    padding: var(--Spacingm) var(--Spacings) var(--Spacingm) var(--Spacings);
    border-radius: var(--Spacingxs);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .summary .summary-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 302px;
    height: 114px;
    justify-content: space-between;
  }

  .summary-div button {
    width: 360px;
    padding: 13px 126px 13px 126px;
    border-radius: 2px;
    border: 1px solid var(--Base-Base_Black);
    border-radius: 2px;
  }

  .chatbot {
    display: none;
  }

  .payment {
    margin-top: 0;
    width: 100%;
  }
  .policy-footer {
    height: 55px;
  }

  .payment-icons:nth-child(3),
  .payment-icons:nth-child(6),
  .payment-icons:nth-child(7) {
    display: none;
  }

  .payment-options {
    justify-content: center;
    gap: 6.4px;
    padding-bottom: 10px;
  }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .summary button {
    margin-top: 30px;
  }

  .container {
    padding: 20px 30px 0 30px;
  }

  .header .logo {
    margin: 15px 0 15px 24px;
  }
  .header .logo img {
    width: 80px;
  }

  .links {
    gap: 0;
    padding-right: 10px;
  }

  .links a {
    font-size: 10px;
    white-space: nowrap;
    gap: 0;
    padding: 0px 10px 0px 10px;
  }

  .search-input {
    width: 123px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0;
  }

  .search-btn {
    height: 45px;
    border: 2px solid #f3f3e1;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .rest-nav {
    gap: 15px;
  }

  .other-links {
    margin-right: 10px;
    gap: 18px;
  }

  .other-links img {
    width: 20px;
  }

  .payment {
    width: 50%;
    padding-bottom: 15px;
  }

  .main-div {
    gap: 30px;
    padding: 20px;
  }

  .main-div img {
    width: 374px;
    height: 374px;
    margin-bottom: 370px;
  }

  .summary-div .email-msg {
    font-size: 18px;
  }

  .summary-div {
    width: 500px;
    padding: 20px;
  }

  .summary {
    width: 440px;
    height: 170px;
    padding: 0px 23px 0px 23px;
    gap: 24px;
  }
  .summary .summary-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 100px;
    justify-content: space-between;
  }

  .summary-list-div {
    width: 400px;
  }

  .summary-div button {
    height: 53px;
    padding: 13px 126px 13px 126px;
    border-radius: 2px;
    border: 2px solid var(--Base-Base_Black);
    width: 460px;
  }

  /* .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  } */
}
