@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Spacingxxs: 2px;
  --Spacings: 6px;
  --Spacingm: 14px;
  --Primary-Primary1000: #172039;
  --Spacingl: 28px;
  --Base-Base_Black: #0a0a0b;
  --Neutrals-Neutrals600: #726c6c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 0.8fr 1.5fr 1fr;
  background-color: #172039;
}

.header .logo {
  margin: 24px 0 24px 64px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.links a {
  font-size: 18px;
  color: #fafafa;
  font-weight: 600;
  text-align: center;
  line-height: 21.6px;
  padding: 0px 20px 0px 20px;
}

.links a.sale {
  color: #ce4f0d;
}

.links .active {
  background-color: #243158;
}

.links div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rest-nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.search-bar {
  padding: 0;
  margin: 0;
}

.search-input {
  width: 223px;
  height: 45px;
  gap: 0px;
  border-radius: var(--Spacingxxs);
  border: 2px solid #e1e5f3;
}

.search-btn {
  width: 16px;
  height: 16px;
  border: none;
  position: relative;
  right: 35px;
  top: 8px;
  cursor: pointer;
}

.other-links {
  display: flex;
  gap: 30px;
  opacity: 0px;
}

.other-links span {
  display: flex;
  align-items: center;
}

.container {
  padding: 20px 110px 0 110px;
}

.title-div {
  display: flex;
  flex-direction: column;
}

.title-div h1 {
  font-family: Roboto;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: center;
}

.shoe-options-div {
  display: flex;
  justify-content: space-between;
  gap: var(--Spacingl);
  margin-top: 40px;
}

.shoe-options {
  padding: var(--Spacings) var(--Spacingm);
  gap: 10px;
  border-radius: var(--Spacingxxs);
  border: 1px solid var(--Primary-Primary1000);
  opacity: 0px;
}

.shoe-options-div .active {
  color: #fafafa;
  background-color: var(--Primary-Primary1000);
}

.sort-title {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 50px;
}

.sort-btn {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: var(--Base-Base_Black);
}

.show-sorted {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  color: var(--Neutrals-Neutrals600);
  margin-top: 20px;
}
/* border: 2px solid red; */
