@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Spacingxxs: 2px;
  --Spacings: 6px;
  --Spacingm: 14px;
  --Primary-Primary1000: #172039;
  --Spacingl: 28px;
  --Base-Base_Black: #0a0a0b;
  --Neutrals-Neutrals600: #726c6c;
  --Base-Base_White: #fafafa;
  --Primary_Primary100: #e1e5f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 0.8fr 1.5fr 1fr;
  background-color: #172039;
}

.header .logo {
  margin: 24px 0 24px 64px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.links a {
  font-size: 18px;
  color: #fafafa;
  font-weight: 600;
  text-align: center;
  line-height: 21.6px;
  padding: 0px 20px 0px 20px;
}

.links a.sale {
  color: #ce4f0d;
}

.links .active {
  background-color: #243158;
}

.links div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rest-nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.search-bar {
  padding: 0;
  margin: 0;
}

.search-input {
  width: 223px;
  height: 45px;
  gap: 0px;
  border-radius: var(--Spacingxxs);
  border: 2px solid #e1e5f3;
}

.search-btn {
  width: 16px;
  height: 16px;
  border: none;
  position: relative;
  right: 35px;
  top: 8px;
  cursor: pointer;
}

.other-links {
  display: flex;
  gap: 30px;
  opacity: 0px;
}

.other-links span {
  display: flex;
  align-items: center;
}

.container {
  padding: 20px 110px 0 110px;
}

.title-div {
  display: flex;
  flex-direction: column;
}

.title-div h1 {
  font-family: Roboto;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: center;
}

.shoe-options-div {
  display: flex;
  justify-content: space-between;
  gap: var(--Spacingl);
  margin-top: 40px;
}

.shoe-options {
  padding: var(--Spacings) var(--Spacingm);
  gap: 10px;
  border-radius: var(--Spacingxxs);
  border: 1px solid var(--Primary-Primary1000);
  opacity: 0px;
}

.shoe-options-div .active {
  color: #fafafa;
  background-color: var(--Primary-Primary1000);
}

.sort-title {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 50px;
}

.sort-btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: var(--Base-Base_Black);
}

.show-sorted {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  color: var(--Neutrals-Neutrals600);
  margin-top: 20px;
}

.productListSection {
  margin-top: 50px;
}
.productListSection .listProduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}

.listProduct .item {
  width: 360px;
  height: 410px;
  /* border: 1px solid red; */
  box-shadow: 0 8px 15px 7px rgba(0, 0, 0, 0.1);
  border-radius: var(--Spacings);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listProduct .item .img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listProduct .item img {
  filter: drop-shadow(0 50px 20px #0009);
  width: 70%;
}

.item-title {
  display: grid;
  grid-template-columns: 0.8fr 0.3fr;
}

.item-name-rating h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  gap: 20px;
}

.like-item {
  background-color: var(--Primary_Primary100);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.price-size-cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.addCart {
  width: 161px;
  height: 62px;
  padding: var(--Spacingml) var(--Spacingl);
  gap: 10px;
  border-radius: 2px;
  background-color: var(--Primary-Primary1000);
  color: var(--Base-Base_White);
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
}

span.size {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  color: var(--Base-Base_Black);
}

.size-btn {
  width: 85px;
  height: 34px;
  margin-left: 10px;
  padding: 6px 10px 6px 10px;
  border-radius: 3px;
  border: 0.5px solid var(--Base-Base_Black);
  background-color: transparent;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  margin-top: 15px;
}
/* border: 2px solid red; */
