@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Spacingxxs: 2px;
  --Spacings: 6px;
  --Spacingm: 14px;
  --Spacingl: 28px;
  --Primary_Primary100: #e1e5f3;
  --Primary_Primary400: #8597cd;
  --Primary-Primary700: #3d5395;
  --Primary-Primary900: #243158;
  --Primary-Primary1000: #172039;
  --Neutrals-Neutrals600: #726c6c;
  --Base-Base_White: #fafafa;
  --Base-Base_Black: #0a0a0b;
  --Secondary-Secondary: #ce4f0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

/* nave */
.header {
  display: grid;
  grid-template-columns: 0.8fr 1.5fr 1fr;
  background-color: #172039;
}

.header .logo {
  margin: 24px 0 24px 64px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.links a {
  font-size: 18px;
  color: #fafafa;
  font-weight: 600;
  text-align: center;
  line-height: 21.6px;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
}

.links a.sale {
  color: #ce4f0d;
}

.links .active {
  background-color: #243158;
}

.links div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rest-nav {
  display: flex;
  gap: 30px;
  align-items: center;
  cursor: pointer;
}

.search-bar {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 223px;
  height: 45px;
  border-radius: var(--Spacingxxs);
  border: 2px solid #e1e5f3;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  padding: 10px;
  color: var(--Primary_Primary400);
}

.search-btn {
  height: 45px;
  border: 2px solid #e1e5f3;
  border-left: none;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
  background-color: #fff;
}

.other-links {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.other-links span {
  display: flex;
  align-items: center;
}

/* Container */
.container {
  padding: 20px 30px 0 30px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.cart-summary {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.cart {
  border-bottom: 1px solid var(--Base-Base_Black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart .for-you {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  padding-left: 10px;
}

.cart .item-image {
  width: 198.35px;
  height: 231px;
  border-radius: 9.24px;
  background-color: var(--Base-Base_White);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.cart .item-image img {
  width: 160.16px;
  height: 124.43px;
}

.cart .item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 15px;
  padding: 20px;
  border-bottom: 1px solid var(--Base-Base_Black);
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-info :nth-child(1) {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  color: var(--Base-Base_Black);
}

.item-info :nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: var(--Base-Base_Black);
}

.item-info :nth-child(3) {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  color: var(--Base-Base_Black);
}

.item-info :nth-child(4) {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;

  color: var(--Neutrals-Neutrals600);
}

.price-quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-quantity .price {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  color: var(--Base-Base_Black);
  text-align: end;
}

.edit-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.edit-cart .change-quantity {
  width: 172px;
  height: 61px;
  border: 1px solid var(--Base-Base_Black);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
}

.edit-cart .change-quantity span {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  align-self: center;
  cursor: pointer;
}

.edit-cart .delete {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  color: var(--Secondary-Secondary);
}

.summary {
  border: 1px solid var(--Base-Base_Black);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.03em;
  text-align: left;
}

.summary .summary-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.summary .summary-list div {
  display: flex;
  justify-content: space-between;
}

.summary .summary-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.summary .summary-list div .promo {
  display: flex;
  flex-direction: column;
}

.summary .summary-list div .promo span:nth-child(2) {
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--Primary-Primary700);
  text-decoration: underline;
}

.summary .summary-list .total {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.summary button {
  margin-top: 80px;
  padding: 10px 15px;
  width: 100%;
  border-radius: 2px;
  border: none;
  background-color: var(--Base-Base_Black);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: var(--Base-Base_White);
  white-space: nowrap;
  cursor: pointer;
}

.summary button:hover,
.addCart:hover,
.email-bar button:hover {
  opacity: 0.8;
}

.cart-icon {
  height: 100%;
}

.listProduct {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-bottom: 15px;
}

.listProduct .item {
  width: 360px;
  height: 410px;
  box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: var(--Spacings);
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listProduct .item .img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listProduct .item img {
  width: 70%;
}

.listProduct img:hover {
  filter: drop-shadow(0 30px 20px #0009);
}

.item-title {
  display: grid;
  grid-template-columns: 0.8fr 0.3fr;
}

.item-name-rating h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  gap: 20px;
}

.like-item {
  background-color: var(--Primary_Primary100);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.price-size-cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.addCart {
  width: 161px;
  height: 62px;
  padding: var(--Spacingml) var(--Spacingl);
  gap: 10px;
  border-radius: 2px;
  border: none;
  background-color: var(--Primary-Primary1000);
  color: var(--Base-Base_White);
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  cursor: pointer;
}

span.size {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  color: var(--Base-Base_Black);
}

.size-btn {
  width: 85px;
  height: 34px;
  margin-left: 10px;
  padding: 6px 10px 6px 10px;
  border-radius: 3px;
  border: 0.5px solid var(--Base-Base_Black);
  background-color: transparent;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  margin-top: 15px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--Primary-Primary900);
}

.main-footer {
  padding: 60px 60px 15px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.policy {
  background-color: var(--Primary-Primary1000);
  /* width: 1440px; */
  height: 70px;
  padding-left: 64px;
  display: flex;
  align-items: center;
}

.policy span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #fff;
  padding-right: 30px;
}

.payment {
  margin-top: 30px;
  width: 35%;
  margin: 30px auto 0 auto;
}
.payment .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
.payment .title .horizontal-line {
  width: 90%;
  height: 1px;
  border: 1px solid var(--Primary-Primary1000);
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.payment .title span {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  color: #fff;
  white-space: nowrap;
  margin: 0 10px;
}

.payment-options {
  display: flex;
  justify-content: space-between;
}

.payment-icons img {
  width: 50px;
  height: 32px;
}

.footer-info {
  display: flex;
  grid-template-columns: 2fr 1fr;
}

.footer-info .footer-links-div {
  width: 906px;
  height: 157px;
  gap: 36px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-links-div div {
  display: flex;
  flex-direction: column;
}

.footer-links-div div .active {
  font-weight: 700;
}

.footer-links-div div a {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-decoration: none;
  color: var(--Base-Base_White);
  padding-bottom: 8px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 335px;
  height: 220px;
  margin: 0 0 0 auto;
}

.sign-up-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  color: #fff;
}

.email-bar {
  display: flex;
}
.email-bar input {
  width: 334px;
  height: 45px;
  border-radius: var(--Spacingxxs);
  border: 2px solid var(--Primary_Primary100);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: var(--Primary_Primary400);
  padding: 10px;
}

.email-bar button {
  width: 39px;
  height: 45px;
  padding: 12px 0px 15px 0px;
  border-radius: var(--Spacingxxs);
  background-color: #172039;
  border: 2px solid #172039;
  color: var(--Primary_Primary100);
  font-size: 18px;
}

.download-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  color: #fff;
}

.store-btn {
  display: flex;
  justify-content: space-between;
}

.store {
  width: 162px;
  height: 48px;
  border: 1px solid var(--Base-Base_White);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store .icon img {
  width: 27.63px;
  height: 30.83px;
}

.store div {
  display: flex;
  flex-direction: column;
}

.small-text {
  font-size: x-small;
  color: var(--Base-Base_White);
}

.big-text {
  font-size: medium;
  font-weight: 600;
  color: var(--Base-Base_White);
}

.chatbot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--Secondary-Secondary);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: var(--Base-Base_White);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px auto;
}

/* MEDIA QUERIES */
@media screen and (min-width: 2400px) {
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .cart .item-image {
    width: 100%;
    height: 100%;
  }
  .cart .item-image img {
    width: 70%;
  }

  .cart .item {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
  }

  .item-info :nth-child(1) {
    font-size: 18px;
  }
  .item-info :nth-child(2),
  .item-info :nth-child(3) {
    font-size: 14px;
  }
  .item-info :nth-child(4) {
    font-size: 12px;
  }

  .summary button {
    margin-top: 30px;
  }

  .edit-cart .change-quantity {
    width: 100%;
  }

  .listProduct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .container {
    padding: 20px 30px 0 30px;
  }

  .listProduct .item {
    width: 100%;
    height: 300px;
  }

  .listProduct .item img {
    width: 40%;
  }

  .item-name-rating .rating {
    margin: 5px;
  }

  .size-btn {
    width: 70px;
    height: 34px;
  }

  span.size {
    font-size: 14px;
    margin-top: 8px;
  }

  .size-price {
    padding: 5px 0;
  }

  .price {
    font-size: 20px;
  }

  .addCart {
    width: 140px;
    font-size: 14px;
    margin: 0 auto;
  }

  .header .logo {
    margin: 15px 0 15px 24px;
  }
  .header .logo img {
    width: 80px;
  }

  .links {
    gap: 0;
    padding-right: 10px;
  }

  .links a {
    font-size: 10px;
    white-space: nowrap;
    gap: 0;
    padding: 0px 10px 0px 10px;
  }

  .search-input {
    width: 123px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0;
  }

  .search-btn {
    height: 45px;
    border: 2px solid #f3f3e1;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    /* padding: 10px; */
  }

  .rest-nav {
    gap: 15px;
  }

  .other-links {
    margin-right: 10px;
    gap: 18px;
    height: 100%;
  }

  .other-links img {
    width: 20px;
  }

  .main-footer {
    padding: 60px 30px 15px 30px;
  }

  .footer-links-div div a {
    font-size: 12px;
  }

  .sign-up {
    margin-left: 20px;
  }

  .sign-up-text {
    font-size: 15px;
  }

  .email-bar input {
    width: 280px;
  }

  .download-text {
    font-size: 20px;
  }

  .payment-icons img {
    width: 30px;
    height: 18px;
  }
  .policy span {
    font-size: 10px;
  }
}
